<ion-content class="content">
  <ion-grid fixed>
    
    <ion-row style="margin-top: 10vh;">
      <ion-col size="12" style="text-align: center;">
        <img src="../../../assets/brain-focus.png" style="width: 120px;">
      </ion-col>
    </ion-row>
      
    <ion-row style="margin-top: 10vh;">
      <ion-col size="12">
        <ion-item lines="none">
          <ion-input class="input" [(ngModel)]="email" type="text" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px;">
      <ion-col size="12">
        <ion-item lines="none">
          <ion-input class="input" [(ngModel)]="password" type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 5vh;">
      <ion-col size="12" style="padding-left: 5vw;padding-right: 5vw;">
        <ion-button class="btn-ingresar" (click)="ingresar()" expand="block" fill="clear" shape="round">
          Ingresar
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px;">
      <ion-col size="12" style="padding-left: 5vw;padding-right: 5vw;">
        <ion-button class="btn-registrarse" (click)="registrarse()" expand="block" fill="clear" shape="round">
          Registrarse
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>