<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">

    <ion-title>
      Pendientes      
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-list>
    <app-listas [terminada]="false"></app-listas>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary"
                    (click)="nuevaLista()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
